@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/FontsFree-Net-SFProDisplay-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
  font-weight: 700;
}

.header {
  margin: 0 auto 0 auto;
  max-width: 1320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper-buttons {
  display: none;
}

.nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  position: relative;
}

.nav-item__link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 12px 8px 12px;
  margin: 12px 8px 12px 8px;
  border-radius: 4px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #070019;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item__link--active {
  color: #F4A800;
}

.nav-item__link--highlighted {
  background-color: #FFC31E;
}

.nav-item__link--highlighted:hover {
  background-color: #F4A800 !important;
}

.nav-item__link svg {
  margin-right: 8px;
}

.nav-item__link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.nav-item-dropdown {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow-x: visible;
  white-space: nowrap;
  left: 0;
  top: 100%;
  list-style: none;
}

.nav-item-dropdown-item__link {
  display: block;
  text-decoration: none;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 500;
  padding: 8px;
  border-radius: 4px;
}

.nav-item-dropdown-item__link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.logo {
  padding: 4px 12px 4px 12px;
}

.logo:hover {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.04);
}

.vr-line {
  height: 12px;
  width: 1px;
  margin-top: 22px;
  background-color: #070019;
  border-radius: 1px;
  opacity: 0.8;
}

@media only screen and (max-width: 805px) {
  .header {
    position: relative;
    display: block;
  }
  .header-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-wrapper-buttons {
    display: block;
    padding: 20px;
  }
  .header-menu {
    position: absolute;
    background-color: white;
    width: 100%;
    display: none;
  }
  #header-cross {
    display: none;
  }
  .nav {
    display: block;
  }
  .nav-item {
    position: relative;
  }
  .nav-item__link {
    margin: 0;
    padding: 12px 0 12px 20px;
    border-radius: 0;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-size: 24px;
    line-height: 36px;
  }
  .nav-item__link--active {
    margin-bottom: 0;
    color: #000000;
    background-color: #FFC31E;
  }
  .nav-item__link--active:hover {
    background-color: #FFC31E;
  }
  .nav-item__link--pressed {
    color: rgba(0, 0, 0, 0.4);
  }
  .nav-item__link--highlighted {
    display: none;
  }
  .nav-item__link svg {
    display: none;
  }
  .nav-item-dropdown {
    position: relative;
  }
  .nav-item-dropdown-item__link {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 0 12px 20px;
  }
  .vr-line {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */